.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(/auth-bg.jpg);
  display: grid;
  place-content: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1;
  }
}

.form {
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  max-width: rem(450px);
  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
  z-index: 2;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}
